<!-- プライバシーポリシー -->
{% extends 'corporate/base/base.html' %}
{% block page_title %}プライバシーポリシー{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="table-box terms">
    <h1 style="text-align: center;">プライバシーポリシー</h1>
    <p>本プライバシーポリシーは、フードイグザム（以下、「本サイト」といいます。） の各種サービス（本サイトによる情報提供等）において、本サイトを利用する皆様の個人情報もしくはそれに準ずる情報を取り扱う際に、本サイトが遵守する方針を示したものです。</p>
    <h2>第1条（基本方針）</h2>
    <p>本サイトでは、個人情報の重要性を認識し、個人情報を保護することが社会的責務であると考え、個人情報に関する法令を遵守し、本サイトで取扱う個人情報の取得、利用、管理を適正に行います。本サイトで収集した情報は、利用目的の範囲内で適切に取り扱います。</p>

    <h2>第2条（収集する情報の範囲）</h2>
    <p>本サイトでは、ユーザーが利用登録をする際に、メールアドレス、クレジットカード情報を含む決済に関する情報を、本サイトの提携先などから収集することがあります。</p>

    <h2>第3条（利用目的）</h2>
    <p>本サイトが個人情報を収集・利用する目的は、以下の通りです。</p>
    <ol>
        <li>本サイトのサービスの提供・運営のため</li>
        <li>本人確認を行うことを含めたユーザーからのお問い合わせに回答するため</li>
        <li>ユーザーが利用中のサービス案内のメールを送付するため</li>
        <li>メンテナンス、重要なお知らせ等の必要に応じたご連絡のため</li>
        <li>利用規約に違反したユーザーや、不正・不当な目的でサービスを利用しようとするユーザーの特定をし、ご利用をお断りするため</li>
        <li>ユーザーにご自身の登録情報の閲覧や変更、削除、ご利用状況の閲覧を行っていただくため</li>
        <li>有料サービスにおいて，ユーザーに利用料金を請求するため</li>
        <li>上記の利用目的に付随する目的</li>
    </ol>

    <h2>第4条（情報管理）</h2>
    <p>本サイトは、個人情報の漏えいや滅失又は棄損を防止するために、適切なセキリュティ対策を実施して個人情報を保護します。また、個人情報が不要となった場合には、すみやかに廃棄します。</p>
    <p>本サイトは、利用者からご提供いただいた個人情報を、不正アクセス、脅迫等の違法行為があった場合その他特別の理由のある場合を除き、利用者本人の同意を得ることなく第三者に提供いたしません。</p>

    <h2>第5条件（適用範囲）</h2>
    <p>本プライバシーポリシーは、本サイトにおいてのみ適用されます。</p>

    <h2>第6条（プライバシーポリシーの変更について）</h2>
    <p>本サイトは、個人情報に関して適用される日本の法令を遵守するとともに、本プライバシーポリシーの内容を適宜見直し改善に努めていくため、予告なく変更することができるものとします。修正された最新のプライバシーポリシーは本ページにて掲載したときから効力を生じるものとします。</p>

    <h2>第7条（お問い合わせ）</h2>
    <p>本サイトの個人情報の取扱に関するお問い合せは<a href="{% url 'corporate:inquiry' %}"><span class="link_color">お問い合わせフォーム<i class="fa fa-question-circle-o link_color"></i> </span></a>までご連絡ください。</p>

    <h2>第8条（アクセス解析ツールについて）</h2>
    <p>本サイトでは、Googleアナリティクスによりアクセス情報を解析しています。</p>
    <p>アクセス情報の解析にはCookieを使用しています。またアクセス情報の収集はCookieを無効にすることで拒否できます。</p>
    <p>Google社のデータ収集・処理の仕組みについては、<a href="https://policies.google.com/technologies/partner-sites?hl=ja"><span class="link_color">こちら<i class="fa fa-question-circle-o link_color"></i> </span></a>をご覧ください。</p>

    <h2>第9条（広告配信サービスについて）</h2>
    <p>本サイトでは、第三者配信の広告サービス「Google Adsense（グーグルアドセンス）」を利用して広告を掲載しています。</p>
    <p>Googleなどの第三者広告配信事業者は、訪問者の興味に応じた広告を表示するために、Cookie（当サイトの訪問者が当サイトや他のサイトにアクセスした際の情報など）を使用することがあります。</p>
    <p>パーソナライズ広告は、<a href="https://www.google.com/settings/ads"><span class="link_color">広告設定<i class="fa fa-question-circle-o link_color"></i> </span></a> で無効にできます。また、<a href="http://www.aboutads.info/choices/"><span class="link_color">www.aboutads.info<i class="fa fa-question-circle-o link_color"></i> </span></a>で第三者配信事業者のCookieを無効にすることができます。</p>
    
    <h2>第10条（Amazonの広告配信について）</h2>
    <p>Amazonのアソシエイトとして、本サイトは適格販売により収入を得ています。</p>

    <br>
    <p style="text-align: right;">以上</p>
    <div class="back">
        <a href="{% url 'corporate:index' %}"><i class="fa fa-chevron-left"></i> トップページに戻る</a>
    </div>
</div>
{% endblock %}
