{% extends 'foodadv/base/foodadv_base.html' %}
{% block page_title %}設定{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="table-box setting-box">
    <h1>設定</h1>
    <table>
        <tr>
            <th>学習履歴</th>
            <td class="edit">
                <a href="{% url 'foodadv:del_record'%}">
                    <div>
                        学習履歴のリセットに進む<i class="fa fa-chevron-right fa-pull-right"></i>
                    </div>
                </a>
            </td>
        </tr>
        <tr>
            <th>お問い合わせ</th>
            <td>
                <a href="{% url 'corporate:inquiry' %}"><span class="link_color">お問い合わせフォーム<i class="fa fa-question-circle-o link_color"></i></span> </a>よりお問い合わせください。
            </td>
        </tr>
    </table>
    <div class="back">
        <a href="{% url 'foodadv:index' %}"><i class="fa fa-chevron-left"></i> トップページに戻る</a>
    </div>
</div>
{% endblock %}
