<div class="about_service">
    {% if top_page %}
    {% comment %}
    <!-- index.htmlに置く時だけはh2タグが被るのでh3を適用する -->
    {% endcomment %}
    <h3>フードイグザムの特徴</h3>
    {% else %}
    <h2>フードイグザムの特徴</h2>
    {% endif %}
    <ul>
        <li><i class="fa fa-check-circle-o" style="color: #ff8d26;"></i> 月額で利用し放題</li>
        <li><i class="fa fa-check-circle-o" style="color: #ff8d26;"></i> スマホ・PCの両方で学習可能</li>
        <li><i class="fa fa-check-circle-o" style="color: #ff8d26;"></i> 学習履歴から弱点を克服できる</li>
        <li><i class="fa fa-check-circle-o" style="color: #ff8d26;"></i> 繰り返しの反復学習で頭に身に付く</li>
        <li><i class="fa fa-check-circle-o" style="color: #ff8d26;"></i> テストコースで本番同様のテストを実施</li>
    </ul>
</div>
