{% extends 'corporate/base/base.html' %}
{% block page_title %}パスワード再設定{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <div class="table-box signup">
        <h1>パスワード再設定</h1>
        <dl>
            <div>
                <dt>新しいパスワード</dt>
                <dt>{{ form.new_password1 }}{{ form.new_password1.errors }}</dt>
                <p class="opacity">英数字を含む8文字以上の入力をお願いします。</p>
            </div>
            <div>
                <dt>新しいパスワード（確認）</dt>
                <dt>{{ form.new_password2 }}{{ form.new_password2.errors }}</dt>
                <p class="opacity">上記パスワードと同様のパスワードの入力をお願いします。</p>
            </div>
            <div>
                <button type="submit">送信</button>
            </div>
        </dl>
    </div>
</form>
{% endblock %}