{% extends 'corporate/base/base.html' %}
{% block page_title %}パスワード再設定申請{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<form action="" method="post">
{% csrf_token %}
<div class="table-box signup">
<h1>パスワード再設定申請</h1>
<dl>
    <div>
        <p>ご指定のメールアドレス宛てにパスワード再設定用の認証コードが送られます。</p>
    </div>
    <div>
        <dt>{{ form.email }}{{ form.email.errors }}</dt>
    </div>
    <div>
        <button type="submit">メール送信</button>
    </div>
</dl>
<div class="back">
    <a href="{% url 'corporate:signin' %}"><i class="fa fa-chevron-left"></i> 前のページに戻る</a>
</div>
</div>
{% endblock %}