{% extends 'jrfoodadv/base/jrfoodadv_practice_test_base.html' %}
{% block page_title %}確認{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
{% load static %}

<div class="practice_content">
    <div class="confirm_box">
        <h2>確認</h2>
        <hr>
        {% if unanswerd_flg %}
        <p>未解答の問題があります。答え合わせしますか？</p>
        {% endif %}
        <div class="button_layout">
                <form action="{% url 'jrfoodadv:back_to_last_page' last_page_question_id %}" method="get">
                    <button type="submit" class="pre-back" name="back_button">
                        <i class="fa fa-arrow-left white_color"></i> もどる</button>
                </form>
            <form action="" method="post">
                {% csrf_token %}
                <button type="submit">答え合わせする <i class="fa fa-arrow-right white_color"></i></button>
            </form>
        </div>
        <!-- 解答状況 -->
        <div class="confirm_answer_status">
            <a href="{% url 'jrfoodadv:answer_status' %}" class="info_answer_status">
                <span class="white_color"><i class="fa fa-tasks white_color"></i> 解答状況</span>
            </a>
        </div>
        <!-- 解答状況 -->

    </div>
    {% if unanswerd_flg %}
    <div class="unanswered_content">
        <h3>未解答の問題</h3>

        {% include 'jrfoodadv/_include/_paging.html' %}

        <table class="table-box">
            <p>※問題IDをクリックすると、問題にとぶことができます。</p>
            <thead>
                <tr>
                    <th>No.</th>
                    <th>問題ID</th>
                    <th>設問内容</th>
                </tr>
            </thead>
            <tbody>
                {% for question in question_page %}
                <tr>
                    <td data-page-num="{{ question.page_num }}">{{ question.page_num }}</td>
                    <td class="link_color" data-question-id="{{ question.question_id }}">
                        <a href="{{ question.url }}" id="question_id_review_flg">{{ question.question_id }}</a>
                    </td>
                    <td>{{ question.question_content }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    {% include 'jrfoodadv/_include/_paging.html' %}

    </div>
    {% endif %}
</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/jrfoodadv/practice_finish_confirm.js' %}"></script>
<script src="{% static 'js/jrfoodadv/practice_test.js' %}"></script>
<script src="{% static 'js/jrfoodadv/common.js' %}"></script>
{% endblock %}