{% extends 'corporate/base/base.html' %}
{% block page_title %}パスワード変更{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <div class="table-box edit-profile-table">
        <h1>パスワード変更</h1>
        <dl>
            <div>
                <dt>現在のパスワード</dt>
                <dt>{{ form.current_password }}{{ form.current_password.errors }}</dt>
            </div>
            <div>
                <dt>新しいパスワード</dt>
                <dt>{{ form.new_password }}{{ form.new_password.errors }}</dt>
                <p class="opacity">英数字を含む8文字以上の入力をお願いします。</p>
            </div>
            <div>
                <dt>新しいパスワード(確認)</dt>
                <dt>{{ form.confirm_new_password }}{{ form.confirm_new_password.errors }}</dt>
                <p class="opacity">上記パスワードと同様のパスワードの入力をお願いします。</p>
            </div>
            <div>
                <button type="submit"><i class="fa fa-plus" style="color:#fff;"></i> 変更する</button>
            </div>
        </dl>
        <div class="back">
            <a href="{% url 'corporate:profile' %}"><i class="fa fa-chevron-left"></i> 前のページに戻る</a>
        </div>
</form>
</div>
{% endblock %}